{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %} 
<h1> This is the home page to display my data </h1>
<br/>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.idusers }}</td>
            <td>{{ user.usernames }}</td>
            <td>{{ user.passwords }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}